<div 
  cdkDropList 
  [cdkDropListConnectedTo]="['todo', 'doing', 'done']" [id]="status"
  (cdkDropListDropped)="onDrop($event)" 
  class="container"
>
  <h3>{{ titulo }}</h3>
  @if (filteredTasks.length !== 0) {
    <ul>
      @for (task of filteredTasks; track task.id) {
        <div cdkDrag [cdkDragData]="task">
          <app-task [task]="task" [last]="tasks.length" (delete)="apagarTarefa($event)"></app-task>
        </div>
      }
    </ul>
  } @else  {
    <p>(Sem tarefas no momento.)</p>
  }
</div>